:root {
  --location-color: hsl(75, 94%, 57%);
  --background-primary-color: #000000;
  --card-color: hsl(0, 0%, 12%);
  --links-color: hsl(0, 0%, 20%);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.main {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: var(--background-primary-color);
}

.social-card {
  width: 297px;
  height: 475px;
  display: grid;
  grid-auto-flow: row;
  text-align: center;
  row-gap: 18px;
  color: white;
  font-family: "Inter", sans-serif;
  background-color: var(--card-color);
  padding: 32px;
  border-radius: 10px;
}

.avtar-image {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.avtar {
  width: 68px;
  height: 68px;
  border-radius: 50%;
}

.user-detail {
  display: grid;
  grid-auto-flow: row;
  align-items: center;
  row-gap: 4px;
  font-family: "Inter", sans-serif;
}

.name {
  font-size: 20px;
  font-weight: 700;
  line-height: 150%;
  letter-spacing: 0px;
}

.location {
  font-size: 12px;
  font-weight: 700;
  line-height: 150%;
  color: var(--location-color);
}

.bio {
  display: flex;
  align-items: center;
  justify-content: center;
}
.bio p {
  font-size: 12px;
  font-weight: 400;

  color: rgba(255, 255, 255, 0.741);
}

.links {
  /* align-items: center; */
  display: grid;
  row-gap: 12px;
}

a {
  text-decoration: none;
  color: white;
  background-color: var(--links-color);
  font-size: 12px;
  font-weight: 700;
  padding: 10px 12px;
  border-radius: 6px;
  transition: all 0.2s ease;
}

a:hover,
a:active,
a:focus {
  color: var(--links-color);
  background-color: var(--location-color);
}

@media screen and (max-width: 500) {
}
